{% set collapsed = message.role == 'system' %}

<div class="card mb-3">
    <div class="card-body">
        <div
            class="
                card-text
                {% if collapsed|default(false) %}
                    collapse
                {% endif %}
            "
            id="message_{{ message_index }}_content"
        >
            {% block content %}
                {{ include('index/_message_content.html.twig') }}
            {% endblock %}
        </div>
    </div>
    <div class="card-footer">
        {% if collapsed|default(false) %}
            <button
                class="btn btn-link"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#message_{{ message_index }}_content"
                aria-expanded="false"
                aria-controls="message_{{ message_index }}_content"
            >
                Toggle
            </button>
        {% endif %}

        <small class="text-body-secondary" id="message_{{ message_index }}_footer">
            {{ include('index/_message_footer.html.twig') }}
        </small>
    </div>
</div>