{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Chat</h1>

{#            <div class="btn-toolbar mb-2 mb-md-0">#}
{#                <div class="btn-group me-2">#}
{#                    <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>#}
{#                    <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>#}
{#                </div>#}

{#                <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle d-flex align-items-center gap-1">#}
{#                    <svg class="bi"><use xlink:href="#calendar3"/></svg>#}
{#                    This week#}
{#                </button>#}
{#            </div>#}
        </div>

        <turbo-frame id="the_frame_id">
            <div id="messages" {{ turbo_stream_listen('chat') }}>
                {% for message_index, message in messages %}
                    {{ include('index/_message.html.twig') }}
                {% endfor %}
            </div>

            <div>
                {{ form_start(form) }}
                {% for message_form in form.messages %}
                    {{ form_widget(message_form) }}
                {% endfor %}
                <div class="input-group mb-3">
                    {{ form_widget(form.new_message, {attr: {style: 'min-width: 70%'}}) }}
                    {{ form_widget(form.model) }}
                    {{ form_widget(form.send) }}
                </div>
                {{ form_end(form) }}
            </div>
        </turbo-frame>
    </main>
{% endblock %}
