<div
    {{ attributes }}
>
    {{ form_start(form, {
        attr: {
            'data-action': 'live#action:prevent',
            'data-live-action-param': 'save'
        }
    }) }}

    {{ form_end(form) }}

    <div id="spreadsheet" {{ turbo_stream_listen('spreadsheet') }}>
        {% set spreadsheet = form.vars.data %}
        {{ include('components/SpreadsheetForm.spreadsheet.html.twig') }}
    </div>


</div>
